<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Description</strong>
  <%= @pet.description %>
</p>

<%= link_to 'Edit', edit_pet_path %><br>
<%= link_to 'Remove', @pet, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' } %><br>
<%= link_to 'Home', pets_path %>